<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <h3>Drag and Drop</h3>

    <div class="zone-1"></div>	

    <div class="zone-2">
        <img src="./images/1.png" id="img1" alt="1" draggable="true">
        <!-- <img src="./images/2.png" id="img2" alt="2" draggable="true">
        <img src="./images/3.png" id="img3" alt="3" draggable="true"> -->
    </div>	

    </div>	


    <script src="js/script.js"></script>
</body>

</html>


