*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.title{
    text-align: center;
    margin: 20px;
}



// INFINITY GALLERY
// *****************************************************************************************
#inf_gallery_wrap{
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    position: relative; // need for buttons
}
#inf_gallery{
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative; // need for images
}
#inf_gallery > img{
    width: 800px;
    height: 600px;
    object-fit: cover;
    position: absolute; // images wll stay one behind another as sandwich (now last image 4 on the top (visible))
    opacity: 1;
    transition: all ease 1s;
}
#inf_gallery .opacity0{ // .opacity0 - this class we will be apply to images
    opacity: 0; 
}
#gallery_btns{
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}
#btn_to_left,
#btn_to_right{
    width: 30px;
    height: 30px;
    opacity: .5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
    span{
        color: #fff;
        font-size: 40px;
    }
    &:hover{
        opacity: 1;
    }
}