<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">

        <h1 class='title'>Loops</h1>
        <div><input type="color" ></div>
        <div><input type="text" ></div>
    <div class="one">1</div>
    <div class="one">2</div>
    <div class="one">3</div>

    <div><input type="radio" name="r" value="1" checked>Some Text 1</div>
    <div><input type="radio" name="r" value="2">Some Text 2</div>
    <div><input type="radio" name="r" value="3">Some Text 3</div>
    <button>Push</button>

    <div class="out"></div>
 
    </div>

    <script src="js/script.js"></script>
</body>

</html>